body {
    font-size: 12px;
    color: rgb(51, 51, 51);
    list-style: none;
    font-family: "Courier New", 宋体;
}
a {
    text-decoration: none;
    color: inherit;
}
.login_fixed {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
}
.login {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 354px;
    left: 50%;
    font-size: 12px;
    box-shadow: 0 0 5px #ccc;
    background-color: #fff;
    border-radius: 6px;
    padding-top: 30px;
    font-family: "Courier New", 宋体;
}
.login_span {
    width: 100%;
    margin:  0 auto;
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    margin: 20px 0;
    color: #CACACA;
}
/* .ant-space-vertical{
    width: 270px;
} */
.ant-input-affix-wrapper{
    border: none!important;
    width: 294px!important;
}
.lSpan1 {
    border-right: 1px solid rgb(210, 210, 210);
    padding-right: 35px;
    /* font-weight: 600; */
    text-align: center;
    cursor: pointer;
}
.lSpan2 {
    padding-left: 35px;
    cursor: pointer;
}
.lSpan1:hover{
    font-weight: 600;
    color: #000;
}
.lSpan2:hover{
    font-weight: 600;
    color: #000;
}
.login_pwd{
    text-align: center;
}
.login_ipt{
    padding-right: 15px;
}
.login_pwd>.ant-input{
    width: 270px!important;
    font-size: 12px;
    height: 40px;
    border: none!important;
    border-bottom: 1px solid #CDCDCD;
    color: rgba(0,0,0,.65);
    margin: 10px 0;
    font-weight: 400;
}
.tip{
    color: #f5222d;
    font-size: 14px;
    text-align: center;
}
/* 记住我,忘记密码 */
.login_check {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.check_span1{
    font-weight: 800;
    margin-left: 30px;
    letter-spacing: 1px;
    margin-bottom: 2px;
}
.check_span2{
    font-weight: 800;
    margin-right: 30px;
    line-height: 30px;
    height: 20px;
    text-decoration: none;
}
.login_btn{
    width: 270px;
    height: 30px;
    background-color: #333333;
    color: rgb(222, 188, 139);
    font-size: 12px;
    letter-spacing: 4px;
    border-radius: 4px;
    white-space: nowrap;
    text-align: center;
    box-shadow: 0 2px 0 rgba(0,0,0,.015);
    cursor: pointer;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    touch-action: manipulation;
    border: 1px solid #d9d9d9;
    margin: 30px;
}
.register {
    margin: 0 auto;
    text-align: center;
}
.register_btn{
    width: 270px;
    height: 30px;
    background-color: #333333;
    color: rgb(222, 188, 139);
    font-size: 12px;
    letter-spacing: 4px;
    border-radius: 4px;
    white-space: nowrap;
    text-align: center;
    box-shadow: 0 2px 0 rgba(0,0,0,.015);
    cursor: pointer;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    touch-action: manipulation;
    border: 1px solid #d9d9d9;
    margin: 30px;
}
.cancel {
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
}
.code_btn {
    width: 100px;
    display: inline-block;
    /* margin:0; */
    position: absolute;
    right: 25px;
    margin-top: 16px;
}
.code_input {
    width: 170px;
    display: inline-block;
    position: relative;
}