.personal-change {
    font-size: 14px;
    height: 20px;
    line-height: 1px;
    font-weight: 600;
}

.changeName {
    font-size: 12px;
    height: 17px;
    line-height: 1.41667;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.changePwd {
    font-size: 12px;
    line-height: 1.41667;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    display: inline;
}
 .failimg {
    
    width: 168px;
    margin-bottom: 10px;  
    border: 1px solid rgb(230, 230, 230);
}
.pseudonymShow {
    position: absolute;
    top: 30%;
    transform: translateY(-50%) translateX(-50%);
    width: 354px;
    left: 50%;
    font-size: 12px;
    box-shadow: 0 0 5px #ccc;
    background-color: #fff;
    border-radius: 6px;
    padding-top: 30px;
    font-family: "Courier New", 宋体;
}
.pseudonymBox{
    margin: 10px 30px 70px 30px;
}
.pseudonymText {
    margin-bottom: 10px;
    color: rgba(0,0,0,.85);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    margin-left: 10px;
}
.pseudonymBox button{
    width: 60px;
    height: 35px;
    font-size: 12px;
    letter-spacing: 4px;
    border-radius: 4px;
    white-space: nowrap;
    text-align: center;
    box-shadow: 0 2px 0 rgba(0,0,0,.015);
    cursor: pointer;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    touch-action: manipulation;
    font-size: 14px;
}
.cancel_btn{
    background-color: #FFFFFF;
    border: 1px solid #e0e1e5;
    position: absolute;
    left: 50px;
    bottom: 20px;
}
.save_btn{
    background-color: #333333;
    color: rgb(222, 188, 139);
    border: 1px solid #d9d9d9;
    position: absolute;
    right: 50px;
    bottom: 20px;
}
/* 用户头像上传 */
.choose input {
    position: absolute;
    font-size: 100px;
    opacity: 0;
    line-height: 40px;
    width: 100px;
    height: 40px;
    bottom: 0px;
    right: 0px;
  }
  .choose {
    font-size: 14px;
    bottom: 42px;
    left: 180px;
    position: absolute;
    width: 100px;
    height: 40px;
    display: inline-block;
    background: #333333;
    /* border: 1px solid #99d3f5; */
    border-radius: 4px;
    overflow: hidden;
    color: rgb(222, 188, 139);
    text-decoration: none;
    text-indent: 0;
    line-height: 40px;
    text-align: center;
    padding: 0 10px;
  }
  .choose:hover,.uploadUser:hover {
    background: #aadffd;
    border-color: #78c3f3;
    color: #004974;
    text-decoration: none;
  }
  .imgDiv{
      position: relative;
  }
  .uploadUser{
    font-size: 14px;
    bottom: 42px;
    left: 300px;
    position: absolute;
    width: 100px;
    height: 40px;
    display: inline-block;
    background: #333333;
    border: 1px solid #99d3f5;
    border-radius: 4px;
    overflow: hidden;
    color: rgb(222, 188, 139);
    text-decoration: none;
    text-indent: 0;
    line-height: 40px;
    text-align: center;
    padding: 0 10px;
  }