@import '~antd/dist/antd.css';
*{
    margin: 0;
    padding: 0;
}
input{
    outline: none;
}
#root{
    height: 100%;
}
.clear{
    clear: both;
}
.box{
    display: flex;
    height: 100%;
}
.header{
    width:100%;
    height: 50px;
    background-color: aqua;
}
.RingLet{
    width: 100%;
    display: flex;
    overflow: hidden;
    flex-wrap: nowrap;
}
.leftcontent,.middlecontent,.rightcontent{
   float: left;
}
.leftcontent{
    text-align: center;
    width: 322px;
    min-width: 332px;
    height: 100%;
    background-color: #f4f4f9;
    overflow: hidden;
}
.KM{
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 20px;
    flex: 1 1 0%;
    overflow-y: auto;
}
.List {
    flex: 1 1 0%;
    overflow-y: auto;
}
.middlecontent{
    flex: 1 1 0%;
    min-width: 50px;
    overflow-x: hidden;
    overflow-y: scroll;
    height:700px;
}
.middlecontent::-webkit-scrollbar,.mid-bottom-cont::-webkit-scrollbar{
    display: none;
}
.rightcontent{
        overflow: hidden;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        box-sizing: border-box;
        padding-top: 16px;
        border-bottom: 1px solid rgb(242, 242, 242);
        flex-wrap: wrap;
}
.createbtn{
    max-width: 200px;
    min-width: 10px;
}
.lefttop{
    width: 100%;
    height: 60px;
    padding-top: 10px;
    border-bottom: 1px solid #ccc;
}
.createR{
    display: block;
    text-align: left;
    margin-left: 10px;
    height: 50px;
    line-height: 50px;
}
.Rcont{
    width: 100%;
    height: 100px;
    border: 1px solid #999999;
    border-radius: 3%;
    margin: 2px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;

}
.Rimg{
    width: 75px;
    height: 75px;
    border-radius: 2%;
}
.Rcont-right{
    width: 50%;
    height: 75px;
}

.Rcont-cate{
    font-size: 12px;
    color: #999999;
}
.Rcont-cate1{
    width: 100%;
    height: 18px;
    font-size: 12px;
    line-height: 1.5;
    color: rgba(51, 51, 51,0.6);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 500;
    font-family: PingFangSC-Medium, "PingFang SC";
}
.Rcont-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.midTarea{
    width: 96%;
    margin: 10px auto;
}
.midIconOne{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.midIcon{
    font-size: 18px;
    text-align: center;
    margin:auto 20px;
}
.midbtn{
    cursor: pointer;
    margin-right: 20px;  
}
.mid-caps{
    margin-top: 10px;
    width: 100%;
    height: 10px;
    background-color: #f4f4f9;
}
.mid-nav{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #ccc;
}
.mid-po{
    width: 94%;
    height: 50px;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
    
.mid-bottom-cont{
    width: 100%;
    height: 450px;
    background-color: rgba(255,255,255);
    overflow-x: hidden;
    overflow-y: scroll;
}
.midNav-cont{
   line-height: 50px;
    padding: 10px 10px 10px;
    cursor: pointer;
}
.midNav-cont1{
    font-size: 12px;
    color: #999;
 }
 .BaImg{
     background-image: url(../../img/background.jpg);
     height: 90px;
 }
 .rightcontent {
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
}
.Imgurl{
    background-image: url(../../img/rili.jpg);

}

.rightTop{
    height: 60px;
    line-height: 60px;
    text-align: center; 
    border-bottom: 1px solid #ccc;
    cursor: default;
}
.rightBottom{
    height: 60px;
    line-height: 60px;
    text-align: center; 
    border-bottom: 1px solid #ccc;
    cursor: default;
}
.rightbeen{
    width: 100%;
    height: 16px;
    font-size: 12px;
    margin-top: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: PingFangSC-Medium, "PingFang SC";
    cursor: pointer;
    text-align: center;
    color: rgb(51, 51, 51,0.6);
    font-weight: 500;
}
.righticoncontent{
    overflow: hidden;
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    padding-top: 16px;
    border-bottom: 1px solid rgb(242, 242, 242);
    flex-wrap: wrap;
}
.rightlinkto{
    width: 100%;
    height: 16px;
    font-size: 12px;
    margin-top: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: PingFangSC-Medium, "PingFang SC";
    color: rgba(0,0,0,.35);
}
.righticonbox{
    margin: 10px auto;
    width: 35px;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 25%;
    
}
.iconpad{
    width: 50%;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    color: rgb(51, 51, 51);
    margin-bottom: 20px;
    font-weight: 500;
}
.firsticonbox{
    background-color: #333333;
    color: #b39772;
}
.inputs{
    position: absolute;
}
.icon{
    display: inline-flex;
}
.ant-btn{
    display: inline-block;
}
.ant-btn-dashed:hover, .ant-btn-dashed:focus {
    color:  #403c3c;
    background: #fff;
    border-color: #403c3c;
}