body {
    margin: 0;
    padding: 0;
}

#NavigationBar {
    width: 100%;
    height: 100px;
    top: 0;
    border-bottom: 1px solid wheat;
    background: rgba(250, 250, 250, 0.4);
    position: fixed;
}

#N_Img {
    height: 36px;
    width: 76px;
    float: left;
    background-color: RGBA(0, 0, 0, 0);
    margin-top: 20px;
    ;
    margin-left: 5%;
}

.e {
    color: rgb(157, 113, 77);
    font-weight: 600;
    font-family: "微软雅黑";
    font-size: 20px;
}

.f_li {
    float: left;
    list-style-type: none;
    margin-left: 20px;
    line-height: 60px;
}

.f_li1 {
    float: right;
    list-style-type: none;
    margin-left: 20px;
    line-height: 60px;
}

.li {
    list-style-type: none;
    line-height: 30px;
}

.f_ul {
    margin: 0;
    padding: 0;
    visibility: hidden;
    display: block;
}

ul li:hover ul {
    visibility: visible;
}

ul li ul li a:hover {
    color: rgb(157, 113, 77);
}

span p:hover {
    color: rgb(157, 113, 77);
}

.l {
    line-height: 48px;
    margin-left: 60px;
}

#entrybar {
    height: 60px;
    width: 300px;
    background-color: rgb(157, 113, 77);
    float: right;
    margin-right: 10%;
    margin-top: -100px;
}

#NavigationBar ul li a:hover {
    color: rgb(157, 113, 77);
}

#NavigationBar a {
    text-decoration: none;
}

#all {
    width: cover;
    height: cover;

}

.publicity {
    overflow: hidden;
}

#a {
    margin-left: 80px;
    height: 77px;
}

#A3 {
    width: 1000px;
    height: 650px;
    margin-top: 150px;
    text-align: center;
}

#A4 {
    height: 800px;
    background-color: #553D33;
}

#A5 {
    width: 1330px;
    height: 300px;
    margin-top: 120px;
}

#A6 {
    margin-top: 0px;
}

#A7 {
    height: 550px;
    margin-top: 120px;
}

#A8 {
    height: 575px;
    margin-top: 100px;
    background-color: #553D33;
}

#A9 {
    height: 800px;
    margin-top: 120px;
}

#A10 {
    height: 120px;
    margin-top: 100px;
    background-color: #553D33;
}

/*第二板块*/
.tit {
    font-family: "微软雅黑";
    font-size: 40px;
    color: #9d714d;
    text-align: center;
    margin-left: 320px;
    padding-top: 80px;
}

.tit_en {
    font-size: 33px;
    color: #838383;
    text-align: center;
    margin-left: 320px;
    padding-top: 30px;
}

.a31 {
    width: 1330px;
    height: 222px;
    text-align: center;
}

.a33 {
    width: 1330px;
    height: 222px;
    text-align: center;
}

.a31 a {
    width: 200px;
    height: 10px;
    float: left;
    color: grey;
    margin-top: 140px;
    margin-left: 140px;
    padding-left: 50px;
    text-decoration: none;
    font-size: 22px;
    font-family: "yahei";
}

.a33 a {
    width: 200px;
    height: 200px;
    float: left;
    color: grey;
    margin-top: 80px;
    margin-left: 140px;
    padding-left: 50px;
    text-decoration: none;
    font-size: 22px;
    font-family: "yahei";
}

/*第二板块*/
/*第三板块*/
#aa {
    text-decoration: none;
}

.a42 {
    font-family: "微软雅黑";
    font-size: 40px;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    margin-top: 100px;
    padding-top: 120px;
}

.a43 {
    font-family: "微软雅黑";
    font-size: 20px;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
}

.a44 {
    font-family: "微软雅黑";
    width: 1330px;
    height: 500px;
    margin-top: 100px;
}

.a45 {
    width: 160px;
    height: 350px;
    color: whitesmoke;
    font-family: "weiruanyahei";
    font-size: 16px;
    float: left;
    margin-top: 80px;
    margin-left: 53px;
}

.a44 p {
    text-align: center;
    color: whitesmoke;
    font-size: 30px;
    font-family: "weiruanyahei";
}

/*第三板块*/
/*第四板块*/
.a51 {
    width: 1330px;
    height: 80px;
    color: #9d714d;
    font-family: "微软雅黑";
    font-size: 40px;
    margin-top: 100px;
    text-align: center;
}

.a52 {
    width: 1330px;
    height: 200px;
    color: grey;
    font-family: "雅黑";
    font-size: 22px;
    text-align: center;
}

/*第四板块*/
/*第五板块*/
#a71 {
    width: 700px;
    float: left;
}

.a711 {
    font-family: "微软雅黑";
    font-size: 40px;
    color: #9d714d;
    margin-left: 100px;
    text-decoration: none;
    padding-left: 10px;
}

.a712 {
    font-family: "微软雅黑";
    font-size: 20px;
    color: grey;
    margin-left: 100px;
    text-decoration: none;
    margin-top: 20px;
}

.a713 {
    font-family: "微软雅黑";
    font-size: 16px;
    color: grey;
    margin-left: 100px;
    text-decoration: none;
    margin-top: 20px;
}

#a72 {
    width: 504px;
    height: 500px;
    margin-top: 120px;
    float: left;
}

img:hover {
    -webkit-transform: scale(1.1);
    /* 放大倍数 Safari 和 Chrome */
    -ms-transform: scale(1.1);
    /* IE 9 */
    transform: scale(1.1);
    /* 缩放 */
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    z-index: 1;
}

/*第五板块*/
/*第六板块*/
#a811 {
    width: 500px;
    height: 575px;
    float: left;
}

.a81 {
    width: 400px;
    height: 320px;
    font-family: "微软雅黑";
    font-size: 28px;
    color: whitesmoke;
    margin-left: 100px;
    text-decoration: none;
    padding-left: 10px;
}

.a82 {
    width: 400px;
    height: 200px;
    font-family: "微软雅黑";
    font-size: 20px;
    color: whitesmoke;
    margin-left: 100px;
    text-decoration: none;
    padding-left: 10px;
}

.a83 {
    width: 504px;
    height: 500px;
    margin-left: 130px;
    margin-top: 58px;
    float: left;
}

/*第六板块*/
/*第七板块*/
.a91 {
    width: 600px;
    height: 798px;
    float: left;
}

.a911 {
    width: 600px;
    height: 300px;
}

.a912 {
    width: 560px;
    height: 498px;
    margin-top: 0px;
    margin-left: 40px;
}

.a9a1 {
    width: 250px;
    height: 220px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}

.a9a2 {
    width: 250px;
    height: 220px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}

.a9b1 {
    width: 250px;
    height: 220px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}

.a9b2 {
    width: 250px;
    height: 220px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}

.a922 {
    width: 600px;
    height: 200px;
    margin-left: 100px;
}

.a92 {
    width: 703px;
    height: 798px;
    float: left;
}

.a923 {
    width: 600px;
    height: 596px;
    margin-left: 50px;
}

.a923 a {
    text-decoration: none;
    color: #9d714d;
}

#a93,
#a94,
#a95 {
    font-family: "微软雅黑";
    font-size: 30px;
    margin-top: 70px;
}

.a931,
.a941,
.a951 {
    font-family: "微软雅黑";
    font-size: 20px;
    color: grey;
    margin-top: 20px;
}

/*第七板块*/
/*第八板块*/
#A10 {
    width: 100%;
    background: #29190c;
    text-align: center;
}

.a11 {
    width: 133px;
    height: 44px;
    float: left;
    margin-top: 30px;
    margin-left: 30px;
}

.a10 {
    text-align: center;
    color: #B98E6A;
    font-size: 18px;
    font-family: "微软雅黑";
    padding-left: 220px;
    line-height: 24px;
    padding-top: 10px;
}

/*第八板块*/
/*定制旅行*/
#all1 {
    width: cover;
    height: cover;
}

#B1 {
    width: cover;
    height: 466px;
}

#B2 {
    width: cover;
    height: 600px;
    margin-top: 100px;
    margin-left: 50px;
}

#B3 {
    width: cover;
    height: 150px;
    text-align: center;
    margin-top: 100px;
    padding-top: 30px;
}

#B4 {
    height: 120px;
    margin-top: 0px;
    background-color: #553D33;
}

#b1 {
    width: 420px;
    height: 598px;
    float: left;
    border: 1px solid white;
}

#b2 {
    width: 386px;
    height: 598px;
    float: left;
    border: 1px solid white;
}

#b3 {
    width: 420px;
    height: 598px;
    float: left;
    border: 1px solid white;
}

#i1,
#i2,
#i3 {
    padding-bottom: 20px;
    padding-left: 50px;
}

#p1,
#p3 {
    color: gray;
    font-size: 20px;
    font-family: "宋体";
}

#p2,
#p4 {
    text-align: center;
    color: burlywood;
    font-size: 30px;
    font-family: "微软雅黑";
}

#b21 {
    text-align: center;
    color: gray;
    font-size: 30px;
    font-family: "宋体";
    padding-bottom: 10px;
}

#p5 {
    text-align: center;
    color: #B98E6A;
    font-size: 30px;
    font-family: "黑体";
}


#section_footwarp {
    height: 224px;
    color: #959595;
    background-color: #553D33;
    font-family: "微软雅黑";
}

#section_footwarp ul li {
    list-style-type: none;
    float: left;
    width: 10%;
}

#section_footwarp a {
    text-decoration: none;
}

ul li dl dd {
    margin-top: 20px;
}

ul li dl dd a {
    color: #959595;
}